doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/styles/style.css')
  body
    header
      h1= title
    main
      p= message
      a(href='/transactions') View Transactions
