doctype html
html
  head
    title= title || 'FinAssist'
    link(rel='stylesheet', href='/styles/style.css')
  body
    header.navbar
      .brand
        h1 FinAssist
      nav.nav-links
        a(href='/') Home
        a(href='/transactions') Transactions
        a(href='/report') Report

    main
      block content

    footer
      p © 2025 Samandar
